{template "content","header"}
<!--main-->
<!--suppress ALL -->
<div class="context">
    <!--container start-->
    <div class="container">
        <div class="row">
            <!--left start-->
            <div class="col-sm-9" id="content">
                <!--滚动ad start -->
                <!--<div class="contentbox bot hidden-xs">
                    <div class="col-sm-12">
                        <!-- Slideshow -->
                        <!--div class="callbacks_container">
                            <ul class="rslides" id="slider">
                                <li><a href="http://www.17sucai.com/"><img src="{IMG_PATH}JinMa/1.jpg" alt=""></a></li>
                                <li><a href="http://www.17sucai.com/"><img src="{IMG_PATH}JinMa/2.jpg" alt=""></a></li>
                                <li><a href="http://www.17sucai.com/"><img src="{IMG_PATH}JinMa/1.jpg" alt=""></a></li>
                                <li><a href="http://www.17sucai.com/"><img src="{IMG_PATH}JinMa/2.jpg" alt=""></a></li>
                            </ul>
                        </div-->
                        <!--div class="callbacks_container">
                            <ul class="rslides" id="slider">
                                <li>
                                    <script language="javascript"
                                            src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=11"></script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div-->
                <!--滚动ad end -->
                <div class="col-sm-12">

                    <!--推荐位滚动图片start-->
                    <!--col-sm-6 start-->
                    <div class="col-sm-6">
                        <!--焦点图-->
                        <div class="section-focus-pic" id="section-focus-pic">
                            <div class="pages" data-scro="list">
                                <ul>
                                    {pc:content action="position" posid="1" order="listorder DESC" thumb="1" num="5"}
                                    {loop $data $r}
                                    <li class="item" style="left:0px;">
                                        <a href="{$r['url']}" target="_blank"><img src="{thumb($r['thumb'],380,300)}"
                                                                                   width="380" height="300"></a>

                                        <h3><a href="{$r['url']}" target="_blank" style="color:#FFF;text-decoration:none;">{str_cut($r['title'],30)}</a>
                                        </h3>

                                        <div></div>
                                    </li>
                                    {/loop}
                                    {/pc}
                                </ul>
                            </div>
                            <div class="controler" data-scro="controler">
                                <b class="down">1</b>
                                <b>2</b>
                                <b>3</b>
                                <b>4</b>
                                <b>5</b>
                            </div>
                            <div class="controler2" data-scro="controler2">
                                <a href="javascript:;" class="prev"><i></i></a>
                                <a href="javascript:;" class="next"><i></i></a>
                            </div>
                        </div>
                        <!--焦点图-->
                    </div>
                    <!--col-sm-6 end -->
                    <!--推荐位滚动图片end-->

                    <!--热点新闻start-->
                    <!--col-sm-4 start-->
                    <div class="col-sm-6">
                        <div class="news-hot">
                            <div class="content">
                                {pc:content action="position" posid="2" order="listorder DESC" num="3"}
                                {loop $data $r}
                                <h4 class="blue"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],36,'')}</a></h4>

                                <p>{if $n==1}<img src="{thumb($r[thumb],90,60)}" width="90" height="60"/>{/if}{str_cut($r[description],112)}
                                </p>

                                <div class="bk20 hr">
                                    <hr/>
                                </div>
                                {/loop}
                                {/pc}
                            </div>
                        </div>
                    </div>
                    <!--col-sm-4 end -->
                    <!--热点新闻end-->

                </div>

                <!--java知识start-->
                <div class="col-sm-12">
                    <div class="bk10"></div>
                    <div class="panel panel-default" >
                        <div class="panel-body box">
                            <h5 class="title-1">{$CATEGORYS[7][catname]}专栏<a href="{$CATEGORYS[7][url]}" class="more">更多>></a></h5>
                            {pc:get  sql="SELECT a.id as id,
                                                a.title as title,a.description as description
                                                ,a.inputtime as inputtime
                                                ,a.url as url
                                                ,a.thumb as thumb
                                                ,a.keywords as keywords
                                                ,c.catname as catname
                                                ,c.catid as catid
                                            FROM
                                                v9_news a,
                                                v9_news_data b,
                                                v9_category c
                                             WHERE
                                                a.id = b.id
                                                AND a.catid = c.catid AND C.catid='7'
                                                ORDER BY updatetime DESC"   cache="3600" page="$_GET['page']" return="data" num="3"}
                            {php $categorys = getcache('category_content_'.$siteid,'commons');}

                            {loop $data $r}

                            {php $category = $categorys[$r[catid]];}

                            {php $modelid = $category['modelid'];}

                            {php $db = pc_base::load_model('hits_model');   $_r = $db->get_one(array('hitsid'=>'c-'.$modelid.'-'.$r[id])); $views = $_r[views];}
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="{$r[url]}" target="_blank" class="thumbnail">
                                        {if $r[thumb]}
                                        <img alt="{$r[title]}"  class="img-responsive" src="{thumb($r['thumb'],150,220)}"  />
                                        {else}
                                        <img alt="{$r[title]}"  class="img-responsive" data-src="holder.js/171x117/text:金码之家" alt="金码之家"/>
                                        {/if}
                                    </a>

                                </div>
                                <div class="col-sm-9">
                                    <h4 class="h4o"><a href="{$r[url]}" target="_blank" >{$r[title]}</a></h4>
                                    <ul class="list-inline">
                                        <li><i class="fa fa-clock-o fa-fw"></i> 发布时间：{date('Y-m-d',$r[inputtime])}</li>
                                        <li><i class="fa fa-eye fa-fw"></i> 点击量：{$views}</li>
                                        <li><i class="fa fa-comments-o fa-fw"></i> 评论：<span id = "sourceId::{$r[id]}" class = "cy_cmt_count" ></span></li>
                                    </ul>
                                    <p class="note">
                                        {$r[description]}...
                                    </p>
                                    <p >
                                        <span class="label label-info ">标签：</span>
                                        {php $keywords = explode(' ',$r[keywords]);}
                                        {loop $keywords $keyword}
                                        <a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" >{$keyword}</a>
                                        {/loop}
                                    </p>
                                </div>
                            </div>
                            <div class="bk10"></div>
                            {/loop}
                            {/pc}
                        </div>
                    </div>
                </div>
                <!--java知识end-->

                <!--.net知识start-->
                <div class="col-sm-12">
                    <div class="bk10"></div>
                    <div class="panel panel-default" >
                        <div class="panel-body box">
                            {pc:get  sql="SELECT a.id as id,
                            a.title as title,a.description as description
                            ,a.inputtime as inputtime
                            ,a.url as url
                            ,a.thumb as thumb
                            ,a.keywords as keywords
                            ,c.catname as catname
                            ,c.catid as catid
                            FROM
                            v9_news a,
                            v9_news_data b,
                            v9_category c
                            WHERE
                            a.id = b.id
                            AND a.catid = c.catid AND C.catid='8'
                            ORDER BY updatetime DESC"   cache="3600" page="$_GET['page']" return="data" num="3"}
                            {php $categorys = getcache('category_content_'.$siteid,'commons');}

                            {loop $data $r}

                            {php $category = $categorys[$r[catid]];}

                            {php $modelid = $category['modelid'];}

                            {php $db = pc_base::load_model('hits_model');   $_r = $db->get_one(array('hitsid'=>'c-'.$modelid.'-'.$r[id])); $views = $_r[views];}
                            <h5 class="title-1">{$CATEGORYS[8][catname]}专栏<a href="{$CATEGORYS[8][url]}" class="more">更多>></a></h5>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="{$r[url]}" target="_blank" class="thumbnail">
                                        {if $r[thumb]}
                                        <img alt="{$r[title]}"  class="img-responsive" src="{thumb($r['thumb'],150,220)}"  />
                                        {else}
                                        <img alt="{$r[title]}"  class="img-responsive" data-src="holder.js/171x117/text:金码之家" alt="金码之家"/>
                                        {/if}
                                    </a>

                                </div>
                                <div class="col-sm-9">
                                    <h4 class="h4o"><a href="{$r[url]}" target="_blank" >{$r[title]}</a></h4>
                                    <ul class="list-inline">
                                        <li><i class="fa fa-clock-o fa-fw"></i> 发布时间：{date('Y-m-d',$r[inputtime])}</li>
                                        <li><i class="fa fa-eye fa-fw"></i> 点击量：{$views}</li>
                                        <li><i class="fa fa-comments-o fa-fw"></i> 评论：<span id = "sourceId::{$r[id]}" class = "cy_cmt_count" ></span></li>
                                    </ul>
                                    <p class="note">
                                        {$r[description]}...
                                    </p>
                                    <p >
                                        <span class="label label-info ">标签：</span>
                                        {php $keywords = explode(' ',$r[keywords]);}
                                        {loop $keywords $keyword}
                                        <a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" >{$keyword}</a>
                                        {/loop}
                                    </p>
                                </div>
                            </div>
                            <div class="bk10"></div>
                            {/loop}
                            {/pc}
                        </div>
                    </div>
                </div>
                <!--.net知识end-->

                 <!--php知识start-->
                 <div class="col-sm-12">
                     <div class="bk10"></div>
                     <div class="panel panel-default" >
                         <div class="panel-body box">
                             {pc:get  sql="SELECT a.id as id,
                             a.title as title,a.description as description
                             ,a.inputtime as inputtime
                             ,a.url as url
                             ,a.thumb as thumb
                             ,a.keywords as keywords
                             ,c.catname as catname
                             ,c.catid as catid
                             FROM
                             v9_news a,
                             v9_news_data b,
                             v9_category c
                             WHERE
                             a.id = b.id
                             AND a.catid = c.catid AND C.catid='9'
                             ORDER BY updatetime DESC"   cache="3600" page="$_GET['page']" return="data" num="3"}
                             {php $categorys = getcache('category_content_'.$siteid,'commons');}

                             {loop $data $r}

                             {php $category = $categorys[$r[catid]];}

                             {php $modelid = $category['modelid'];}

                             {php $db = pc_base::load_model('hits_model');   $_r = $db->get_one(array('hitsid'=>'c-'.$modelid.'-'.$r[id])); $views = $_r[views];}
                             <h5 class="title-1">{$CATEGORYS[9][catname]}专栏<a href="{$CATEGORYS[9][url]}" class="more">更多>></a></h5>
                             <div class="row">
                                 <div class="col-sm-3">
                                     <a href="{$r[url]}" target="_blank" class="thumbnail">
                                         {if $r[thumb]}
                                         <img alt="{$r[title]}"  class="img-responsive" src="{thumb($r['thumb'],150,220)}"  />
                                         {else}
                                         <img alt="{$r[title]}"  class="img-responsive" data-src="holder.js/171x117/text:金码之家" alt="金码之家"/>
                                         {/if}
                                     </a>

                                 </div>
                                 <div class="col-sm-9">
                                     <h4 class="h4o"><a href="{$r[url]}" target="_blank" >{$r[title]}</a></h4>
                                     <ul class="list-inline">
                                         <li><i class="fa fa-clock-o fa-fw"></i> 发布时间：{date('Y-m-d',$r[inputtime])}</li>
                                         <li><i class="fa fa-eye fa-fw"></i> 点击量：{$views}</li>
                                         <li><i class="fa fa-comments-o fa-fw"></i> 评论：<span id = "sourceId::{$r[id]}" class = "cy_cmt_count" ></span></li>
                                     </ul>
                                     <p class="note">
                                         {$r[description]}...
                                     </p>
                                     <p >
                                         <span class="label label-info ">标签：</span>
                                         {php $keywords = explode(' ',$r[keywords]);}
                                         {loop $keywords $keyword}
                                         <a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" >{$keyword}</a>
                                         {/loop}
                                     </p>
                                 </div>
                             </div>
                             <div class="bk10"></div>
                             {/loop}
                             {/pc}
                         </div>
                     </div>
                 </div>
                 <!--php知识end-->

                 <!--flex知识start-->
                 <div class="col-sm-12">
                     <div class="bk10"></div>
                     <div class="panel panel-default" >
                         <div class="panel-body box">
                             {pc:get  sql="SELECT a.id as id,
                             a.title as title,a.description as description
                             ,a.inputtime as inputtime
                             ,a.url as url
                             ,a.thumb as thumb
                             ,a.keywords as keywords
                             ,c.catname as catname
                             ,c.catid as catid
                             FROM
                             v9_news a,
                             v9_news_data b,
                             v9_category c
                             WHERE
                             a.id = b.id
                             AND a.catid = c.catid AND C.catid='21'
                             ORDER BY updatetime DESC"   cache="3600" page="$_GET['page']" return="data" num="3"}
                             {php $categorys = getcache('category_content_'.$siteid,'commons');}

                             {loop $data $r}

                             {php $category = $categorys[$r[catid]];}

                             {php $modelid = $category['modelid'];}

                             {php $db = pc_base::load_model('hits_model');   $_r = $db->get_one(array('hitsid'=>'c-'.$modelid.'-'.$r[id])); $views = $_r[views];}
                             <h5 class="title-1">{$CATEGORYS[21][catname]}专栏<a href="{$CATEGORYS[21][url]}" class="more">更多>></a></h5>
                             <div class="row">
                                 <div class="col-sm-3">
                                     <a href="{$r[url]}" target="_blank" class="thumbnail">
                                         {if $r[thumb]}
                                         <img alt="{$r[title]}"  class="img-responsive" src="{thumb($r['thumb'],150,220)}"  />
                                         {else}
                                         <img alt="{$r[title]}"  class="img-responsive" data-src="holder.js/171x117/text:金码之家" alt="金码之家"/>
                                         {/if}
                                     </a>

                                 </div>
                                 <div class="col-sm-9">
                                     <h4 class="h4o"><a href="{$r[url]}" target="_blank" >{$r[title]}</a></h4>
                                     <ul class="list-inline">
                                         <li><i class="fa fa-clock-o fa-fw"></i> 发布时间：{date('Y-m-d',$r[inputtime])}</li>
                                         <li><i class="fa fa-eye fa-fw"></i> 点击量：{$views}</li>
                                         <li><i class="fa fa-comments-o fa-fw"></i> 评论：<span id = "sourceId::{$r[id]}" class = "cy_cmt_count" ></span></li>
                                     </ul>
                                     <p class="note">
                                         {$r[description]}...
                                     </p>
                                     <p >
                                         <span class="label label-info ">标签：</span>
                                         {php $keywords = explode(' ',$r[keywords]);}
                                         {loop $keywords $keyword}
                                         <a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" >{$keyword}</a>
                                         {/loop}
                                     </p>
                                 </div>
                             </div>
                             <div class="bk10"></div>
                             {/loop}
                             {/pc}
                         </div>
                     </div>
                 </div>
                 <!--flex知识end-->
            </div>
            <!--left end-->
             <!--right start-->
             <div class="col-sm-3">
                 <div class="row conr">
                     <!--new channel start-->
                     <div class="col-sm-12">
                         <div class="panel panel-default">
                             <div class="panel-body box">
                                 <h5 class="title-1">{$CATEGORYS[19][catname]}<a href="{$CATEGORYS[19][url]}" class="more">更多>></a></h5>
                                     <!--div class="title01">
                                         <div class="weather">
                                             <iframe width="160" scrolling="no" height="20" frameborder="0" allowtransparency="true"
                                                     src="http://i.tianqi.com/index.php?c=code&id=1&icon=4&py=taiyuan&wind=1&num=1"></iframe>
                                         </div>
                                     </div-->
                                 <div class="tab-content01">
                                     <ul>
                                         {pc:content action="lists" catid="19" num="1" order="id" cache="3600"}
                                         {loop $data $r}
                                         <h1><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],25)}</a></h1>
                                         {/loop}
                                         {/pc}

                                         {pc:content action="lists" catid="19" num="8" start="1" order="id" cache="3600"}
                                         {loop $data $r}
                                         <li><span class="time">{date("m-d",$r[inputtime])}</span><a href="{$r[url]}"
                                                                                                     title="{$r[title]}"
                                                                                                     target="_blank">{$r[title]}</a>
                                         </li>
                                         {/loop}
                                         {/pc}
                                     </ul>
                                 </div>

                             </div><!---->
                         </div>
                     </div>
                     <!--new channel end-->
                     <!--排行榜 start-->
                     <div class="col-sm-12">
                         <div class="panel panel-default">
                             <div class="panel-body box">
                                 <h5 class="title-1">头条内容排行榜</h5>
                                 <!-- Tab panes -->
                                 <div class="tab-content">
                                     <div role="tabpanel" class="tab-pane active" id="home">
                                         <div  class="tab-mod   on">
                                             <div class="rank-mod">
                                                 {pc:content  action="position" posid="2" order="listorder DESC" num="10"}
                                                 <ul>

                                                     {php $i=1;}
                                                     {loop $data $r}

                                                     {if $i <= 3}
                                                     <li class=" emp">
                                                         {else}
                                                     <li>
                                                         {/if}
                                                         <span>{$i}</span><a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r['title'],50,'...')}</a></li>
                                                     {php $i++;}
                                                     {/loop}

                                                 </ul>
                                                 {/pc}
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                              </div>

                         </div>
                     </div>
                     <!--排行榜 start-->

                     <!--专题 start-->
                     <div class="col-sm-12">
                         <div class="panel panel-default">
                             <div class="panel-body box">
                                 <h5 class="title-1">专题</h5>
                             </div>
                         </div>
                     </div>
                     <!--专题 start-->

                     <!--关注我们 start-->
                     <div class="col-sm-12">
                         <div class="panel panel-default">
                             <div class="panel-body box">
                                 <div class="thumbnail">
                                     <img src="{IMG_PATH}JinMa/weixin/weixin.jpg" alt="金码之家" height="258" width="258">
                                     <div class="caption">
                                         <h3>微信关注我们</h3>
                                         <p class="note">专业分享最新IT技术、文章的知识乐园。</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <!--关注我们 start-->
                 </div>
             </div>
             <!--right end-->
        </div>
        <!--row end-->
    </div>
    <!--container end-->
</div>
<!--main end-->

<script type="text/javascript" src="{JS_PATH}pic/script.js"></script>


<script type="text/javascript">
    $(function () {
        new slide("#main-slide", "cur", 310, 260, 1);//焦点图
        new SwapTab(".SwapTab", "span", ".tab-content", "ul", "fb");//排行TAB
    })
</script>
{template "content","footer"}