{template "content","header"}
<body>
<!--main-->
<div class="context tem">
    <div class="container ">
        <div class="row">
            <div class="col-sm-9">
                <div class="crumbs">
                    <a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)}
                </div>
                {pc:content action="lists" catid="$catid" num="8" order="inputtime DESC" page="$page"}


                {loop $data $val}

                {php $db = pc_base::load_model('hits_model'); $_r = $db->get_one(array('hitsid'=>'c-'.$modelid.'-'.$val[id])); $views = $_r[views]; }
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    {if $val[thumb]}
                                    <img alt="{$val[title]}"  class="img-responsive" src="{thumb($val['thumb'],150,220)}"  />
                                    {else}
                                    <img alt="{$val[title]}"  class="img-responsive" data-src="holder.js/171x117/text:码农之家" alt="码农之家"/>
                                    {/if}
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <h4 class="h4o"><a href="{$val[url]}">{$val[title]}</a></h4>
                                <ul class="list-inline">
                                    <li><i class="fa fa-clock-o fa-fw"></i>{date('Y-m-d',$val[inputtime])}</li>
                                    <li><i class="fa fa-eye fa-fw"></i>点击量：{$views}</li>
                                    <li><i class="fa fa-comments-o fa-fw"></i>评论: <span id = "sourceId::{$val[id]}" class = "cy_cmt_count" ></span> </li>
                                </ul>
                                <p class="note">
                                    {$val[description]}...
                                </p>
                                <p >
                                    <span class="label label-info">标签：</span>
                                    {php $keywords = explode(' ',$val[keywords]);}
                                    {loop $keywords $keyword}
                                    <a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" >{$keyword}</a>
                                    {/loop}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {/loop}

                {$front_pages}
                {/pc}
            </div>
            <!--right start-->
            <div class="col-sm-3">
                <div class="row conr" >
                    <div class="col-sm-12" >
                        <!-- Nav tabs -->
                        <ul id="o_nav"  class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">频道总排行</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">频道本月排行</a></li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div  class="tab-mod   on">
                                            <div class="rank-mod">
                                                {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                                                <ul >
                                                    {php $i=1;}
                                                    {loop $data $r}

                                                    {if $i <= 3}
                                                    <li class=" emp">
                                                        {else}
                                                    <li>
                                                        {/if}

                                                        <span>{$i}</span><a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r['title'],50,'...')}</a></li>
                                                    {php $i++}
                                                    {/loop}
                                                </ul>
                                                {/pc}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div  class="tab-mod   on">
                                            <div class="rank-mod">
                                                {pc:content action="hits" catid="$catid" num="10" order="monthviews DESC" cache="3600"}
                                                <ul >
                                                    {loop $data $r}

                                                    {if $i <= 3}
                                                    <li class=" emp">
                                                        {else}
                                                    <li>
                                                        {/if}


                                                        <span>{number_format($r[monthviews])}</span><a href="{$r[url]}" target="_blank"  title="{$r[title]}">{str_cut($r['title'],50,'...')}</a></li>

                                                    {/loop}
                                                </ul>
                                                {/pc}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--关注我们 start-->
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body box">
                                <div class="thumbnail">
                                    <img src="{IMG_PATH}JinMa/weixin/weixin.jpg" alt="金码之家" height="258" width="258">
                                    <div class="caption">
                                        <h3>微信关注我们</h3>
                                        <p class="note">专业分享最新IT技术、文章的知识乐园。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--关注我们 start-->
                </div>
            </div>
            <!--right end-->
        </div>

    <div class="col-auto">
        <div class="box">
            <h5 class="title-2">频道总排行</h5>
             {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
            <ul class="content digg">
				{loop $data $r}
					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
				{/loop}
            </ul>
            {/pc}
        </div>
        <div class="bk10"></div>
        <div class="box">
            <h5 class="title-2">频道本月排行</h5>
             {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
            <ul class="content rank">
				{loop $data $r}
				<li><span>{number_format($r[monthviews])}</span><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
				{/loop}
            </ul>
            {/pc}
        </div>
    </div>
</div>
</div>
{template "content","footer"}
<script id="cy_cmt_num" src="http://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cysfkj6cn"></script>

</body>
</html>