{template "content","header"}
<body >
<div class="context">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="col-left">
					<div class="crumbs">
						<a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} {$title}
					</div>
					<div class="panel panel-default" id="Article">
						<div class="panel-body" >
							<p class="text-center article-title"><a>{$title}</a></p>
							<div class="text-center">
								<ul class="list-inline">
									<li>日期：{$inputtime}</li>
									<li>来源：{$copyfrom}</li>
									<!--<li>评论：<a href="#comment_iframe" id="comment">0</a> </li>-->
									<li>点击：<span id="hits"></span></li>
								</ul>
							</div>
							<div class="showContext">
									<!--{if $description}<div class="summary" >{$description}</div>{/if}-->
									{if $allow_visitor==1}
									{$content}
									<!--内容关联投票-->
									{if $voteid}<script language="javascript" src="{APP_PATH}index.php?m=vote&c=index&a=show&action=js&subjectid={$voteid}&type=2"></script>{/if}

									{else}
									<CENTER><a href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a></CENTER>
									{/if}

									{if $titles}
									<fieldset>
										<legend class="f14">本文导航</legend>
										<ul class="list blue row-2">
											{loop $titles $r}
											<li>{$n}、<a href="{$r[url]}">{$r[title]}</a></li>
											{/loop}
										</ul>
									</fieldset>
									{/if}

									<div id="pages" class="text-c">{$pages}</div>
								</div><!--showContext end-->
							<!--share start-->
							<div data-bd-bind="1455502637003" class="bdsharebuttonbox bdshare-button-style1-16"><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone">QQ空间</a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina">新浪微博</a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq">腾讯微博</a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren">人人网</a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin">微信</a><a href="#" class="bds_more" data-cmd="more">分享到：</a></div>
								<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
								<!--span id='favorite'>
									<a href="javascript:;" onclick="add_favorite('{addslashes($title)}');" class="t6">收藏</a>
								</span-->
							<div><!--share end-->
							<!--相关热词搜索 start-->
							<p style="margin-bottom:10px">
								<strong>相关热词搜索：</strong>{loop $keywords $keyword}<a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" class="blue">{$keyword}</a> 	{/loop}
							</p><!--相关热词搜索 end-->
							<!--声明 start-->
							<div class="alert alert-danger" role="alert">

								除非特别声明，金码之家均为原创或投稿报道，转载请注明作者及原文链接
								<p>原文地址：<a href="{go($catid,$id)}" alt="{$title}">{go($catid,$id)}</a></p>
							</div><!--声明 end-->
							<p class="f14">
								<strong>上一篇：</strong><a href="{$previous_page[url]}">{$previous_page[title]}</a><br />
								<strong>下一篇：</strong><a href="{$next_page[url]}">{$next_page[title]}</a>
							</p>
							<div class="bk10"></div>
					   		<!--{if $allow_comment && module_exists('comment')}
					   		<iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>-->
						    <!--<div class="box">
									<h5>评论排行</h5>
									 {pc:comment action="bang" siteid="$siteid" cache="3600"}
									<ul class="content list blue f14 row-2">
									{loop $data $r}
										<li>·<a href="{$r[url]}" target="_blank">{str_cut($r[title], 40)}</a><span>({$r[total]})</span></li>
										{/loop}
									</ul>
									{/pc}
							</div>
							{/if}
					  </div>-->
							<!--<div class="col-auto">
								<div class="box">
									<h5 class="title-2">频道总排行</h5>
									<ul class="content digg">
									{pc:content  action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
										{loop $data $r}
											<li><a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r[title], 28, '')}</a></li>
										{/loop}
									{/pc}
									</ul>
								</div>
								<div class="bk10"></div>
								<div class="box">
									<h5 class="title-2">频道本月排行</h5>
									<ul class="content rank">
									{pc:content action="hits" catid="$catid" num="10" order="monthviews DESC" cache="3600"}
										{loop $data $r}
										<li><span>{number_format($r[monthviews])}</span><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
										{/loop}
									{/pc}
									</ul>
								</div>
							</div>-->
							<div id="cyEmoji" role="cylabs" data-use="emoji" sourceid="{id_encode("content_$catid",$id,$siteid)}">
								<div class="cy-wrapper">
									<div class="emoji-tip">您看完此新闻的心情是</div>
									{if module_exists('mood')}<script type="text/javascript" src="{APP_PATH}index.php?m=mood&c=index&a=init&id={id_encode($catid,$id,$siteid)}"></script>{/if}

								</div>
							</div>

							<div id="SOHUCS" sid="{id_encode("content_$catid",$id,$siteid)}">

						    </div>

					</div><!--panel panel-default end-->
				</div><!--col-left end-->
			</div><!--col-sm-9 end-->
			</div></div><!--左侧面板结束标记-->
			<div id="#leftTool" class="col-sm-3">
				<div class="row conr">
					<div class="col-sm-12">
						<!-- Nav tabs -->
						<ul id="o_nav"  class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">本周点击排行</a></li>
							<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">本月点击排行</a></li>

						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div class="panel panel-default">
									<div class="panel-body">
										{pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
										<ul >
											{php $i=1;}
											{loop $data $r}
											<li><em>{$i}</em><a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r['title'],50,'...')}</a></li>
											{php $i++}
											{/loop}
										</ul>
										{/pc}
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="profile">
								<div class="panel panel-default">
									<div class="panel-body">
										{pc:content action="hits" catid="$catid" num="10" order="monthviews DESC" cache="3600"}
										<ul >
											{loop $data $r}
											<li><em>{number_format($r[monthviews])}</em><a href="{$r[url]}" target="_blank"  title="{$r[title]}">{str_cut($r['title'],50,'...')}</a></li>

											{/loop}
										</ul>
										{/pc}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--关注我们 start-->
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-body box">
								<div class="thumbnail">
									<img src="{IMG_PATH}JinMa/weixin/weixin.jpg" alt="金码之家" height="258" width="258">
									<div class="caption">
										<h3>微信关注我们</h3>
										<p class="note">专业分享最新IT技术、文章的知识乐园。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--关注我们 start-->
				</div>
			</div><!--col-sm-3 end-->
		</div><!--row end-->
	</div><!--container end-->
</div><!--context end-->


{template "content","footer"}

<script type="text/javascript">
<!--
	function show_ajax(obj) {
		var keywords = $(obj).text();
		var offset = $(obj).offset();
		var jsonitem = '';
		$.getJSON("{APP_PATH}index.php?m=content&c=index&a=json_list&type=keyword&modelid={$modelid}&id={$id}&keywords="+encodeURIComponent(keywords),
				function(data){
				var j = 1;
				var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
				string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
				if(data!=0) {
				  $.each(data, function(i,item){
					j = i+1;
					jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
					
				  });
					string += jsonitem;
				} else {
					string += '没有找到相关的信息！';
				}
					string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
					$(obj).after(string);
					$('.key-float').mouseover(
						function (){
							$(this).siblings().css({"z-index":0})
							$(this).css({"z-index":1001});
						}
					)
					$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
				});
	}

	function add_favorite(title) {
		$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
			if(data.status==1)	{
				$("#favorite").html('收藏成功');
			} else {
				alert('请登录');
			}
		});
	}

$(function(){
   $('#Article .showContext  img').LoadImage(true, 660, 660,'{IMG_PATH}s_nopic.gif');
	//$('#Article .content img').LoadImage(true, 660, 660,'{IMG_PATH}s_nopic.gif');
})
//-->
</script>
<script type="text/javascript">
	//window.changyan.api.config({
		//appid: 'cysfkj6cn',
		//conf: 'prod_63bdd7c9d91eb7e55f967cddfa4f0e8a'
	//});
	//自适应评论
	(function(){
		var appid = 'cysfkj6cn';
		var conf = 'prod_63bdd7c9d91eb7e55f967cddfa4f0e8a';
		var width = window.innerWidth || document.documentElement.clientWidth;
		if (width < 960) {
			window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
	<!--prod_63bdd7c9d91eb7e55f967cddfa4f0e8a-->
</script>
<!--<script type="text/javascript">
	SyntaxHighlighter.autoloader(
			'applescript      http://www.manzj.net/statics/js/diy/scripts/shBrushAppleScript.js',
			'actionscript3 as3    http://www.manzj.net/statics/js/diy/scripts/shBrushAS3.js',
			'bash shell       http://www.manzj.net/statics/js/diy/scripts/shBrushBash.js',
			'coldfusion cf      http://www.manzj.net/statics/js/diy/scripts/shBrushColdFusion.js',
			'cpp c          http://www.manzj.net/statics/js/diy/scripts/shBrushCpp.js',
			'obj-c objc       http://www.manzj.net/statics/js/diy/scripts/shBrushObjC.js',
			'c# c-sharp csharp    http://www.manzj.net/statics/js/diy/scripts/shBrushCSharp.js',
			'css          http://www.manzj.net/statics/js/diy/scripts/shBrushCss.js',
			'delphi pascal      http://www.manzj.net/statics/js/diy/scripts/shBrushDelphi.js',
			'diff patch pas     http://www.manzj.net/statics/js/diy/scripts/shBrushDiff.js',
			'erl erlang       http://www.manzj.net/statics/js/diy/scripts/shBrushErlang.js',
			'groovy         http://www.manzj.net/statics/js/diy/scripts/shBrushGroovy.js',
			'haxe hx        http://www.manzj.net/statics/js/diy/scripts/shBrushHaxe.js',
			'java         http://www.manzj.net/statics/js/diy/scripts/shBrushJava.js',
			'jfx javafx       http://www.manzj.net/statics/js/diy/scripts/shBrushJavaFX.js',
			'js jscript javascript  http://www.manzj.net/statics/js/diy/scripts/shBrushJScript.js',
			'perl pl        http://www.manzj.net/statics/js/diy/scripts/shBrushPerl.js',
			'php          http://www.manzj.net/statics/js/diy/scripts/shBrushPhp.js',
			'text plain       http://www.manzj.net/statics/js/diy/scripts/shBrushPlain.js',
			'py python        http://www.manzj.net/statics/js/diy/scripts/shBrushPython.js',
			'ruby rails ror rb    http://www.manzj.net/statics/js/diy/scripts/shBrushRuby.js',
			'scala          http://www.manzj.net/statics/js/diy/scripts/shBrushScala.js',
			'sql          http://www.manzj.net/statics/js/diy/scripts/shBrushSql.js',
			'vb vbnet       http://www.manzj.net/statics/js/diy/scripts/shBrushVb.js',
			'ps powershell      http://www.manzj.net/statics/js/diy/scripts/shBrushPowerShell.js',
			'xml xhtml xslt html  http://www.manzj.net/statics/js/diy/scripts/shBrushXml.js'
	);
	SyntaxHighlighter.all();

</script>-->

<script type="text/javascript" charset="utf-8" src="http://changyan.itc.cn/js/??lib/jquery.js,changyan.labs.js?appid=cysfkj6cn"></script>
<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script type="text/javascript" src="{JS_PATH}shCore.js"></script>
<script type="text/javascript" src="{JS_PATH}shAutoloader.js"></script>

</body>
</html>